<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>Servlet.registrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarClaseProducto</servlet-name>
        <servlet-class>Servlet.ServletRegistrarClaseProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_CP</servlet-name>
        <servlet-class>Servlet.Servlet_CP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_MP</servlet-name>
        <servlet-class>Servlet.Servlet_MP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Prod</servlet-name>
        <servlet-class>Servlet.Servlet_Prod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Usu</servlet-name>
        <servlet-class>Servlet.Servlet_Usu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Venta</servlet-name>
        <servlet-class>Servlet.Servlet_Venta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarClaseProducto</servlet-name>
        <url-pattern>/registrarClaseProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_CP</servlet-name>
        <url-pattern>/Servlet_CP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_MP</servlet-name>
        <url-pattern>/Servlet_MP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Prod</servlet-name>
        <url-pattern>/Servlet_Prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Usu</servlet-name>
        <url-pattern>/Servlet_Usu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Venta</servlet-name>
        <url-pattern>/Servlet_Venta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
