body
{
	padding: 0em 10em 0em 10em;
	margin: 0em 10em 0em 10em;
	background-color: #A6DAF7;
	font-size: 24px;
	font-family: "Times New Roman";
}

table
{
	background-color: #93C3F0;
	border: 1px solid black;
	margin: 0 auto;
	box-shadow: 5px 5px 10px #999;
	border-radius: 10px;
	empty-cells: show;
}

td
{
	border: 2px solid black;
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}